{% load wagtailroutablepage_tags %}

<div class="side-nav-categories">
    <div class="title"><strong>Categories</strong></div>
    <br>
    {% if categories %}
    <ul id="category-tabs">
            <ul class="sub-category-tabs">
                {% for category in categories %}
                <li><i class="fa fa-css3"></i><a href="{% routablepageurl blog_page 'post_by_category' category.slug %}"> {{ category.name }} </a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p> No categories yet! </p>
    </ul>
    {% endif %}
</div>