{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load static wagtailimages_tags wagtailcore_tags %}
{% load blog_tags %}
{% load index_tags %}

{% block body_class %}template-shoppage{% endblock %}

{% block content %}

<div class="minsection">
    <!-- Slider-Start -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% with blocks=page.featured %}
            {% for block in blocks %}
            {% if block.block_type == 'carousel' %}
            <div class="swiper-slide cover-background" style="background-image:url(/static/images/banner_one1.jpg)">
                <div class="content-slider">
                    <h1>
                        {{ block.value.heading1 }}
                    </h1>
                    <p> {{ block.value.text1 }} </p>
                    <a href="#" class="btn ">
                        View our services <i class="fa fa-arrow-right"></i>
                        <span style="top: 213.5px; left: 50.6406px;"></span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide cover-background" style="background-image:url(/static/images/banner_two2.jpg)">
                <div class="content-slider animated fadeInLeft animate__delay-2s">
                    <h1>
                        {{ block.value.heading2 }}
                    </h1> 
                    <p> {{ block.value.text2 }} </p>
                    <a href="#" class="btn ">
                        View our services <i class="fa fa-arrow-right"></i>
                        <span style="top: 213.5px; left: 50.6406px;"></span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide cover-background" style="background-image:url(/static/images/banner_three3.jpg)">
                <div class="content-slider">
                    <h1>
                        {{ block.value.heading3 }}
                    </h1>
                    <p> {{ block.value.text3 }} </p>
                    <a href="#" class="btn ">
                        View our services <i class="fa fa-arrow-right"></i>
                        <span style="top: 213.5px; left: 50.6406px;"></span>
                    </a>
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- Slider-End --->
    <!-- About-Start -->
    <div class="about-section pt-50 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-image">
                        <span class="cricle alltuchtopdown"></span>
                         <!-- Accessing the first image in the gallery -->
                        
                          {% display_index_images "about1" as index_image %}
                         {% if index_image %}   
                            {% image index_image.image fill-595x641 %}
                         {% endif %}
                        
                        <div class="min-bg alltuchtopdown">
                            <h1>25+</h1>
                            <h3>Years of Experience</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-50 pl-60 pr-30">
                    <div class="right-text">
                        <h4 class="upcase linetext pl-70">About CarHub</h4>
                        {% with blocks=page.featured %}
                        {% for block in blocks %}
                        {% if block.block_type == 'home1' %}
                        <h2>
                            {{ block.value.heading }}
                        </h2>
                        <p> {{ block.value.intro }} </p>

                        <div class="company-aim">
                            <div class="com-one">
                                <span class="left-side-icon">
                                    {% image block.value.image1 original as image %}
                                    <img src="{{ image.url }}" alt="" />
                                </span>
                                <div class="right-side-text">
                                    <h3> {{ block.value.sub_header1 }} </h3>
                                    <p> {{ block.value.text1 }} </p>
                                </div>
                            </div>
                            <div class="com-one mt-20">
                                <span class="left-side-icon orange">
                                    {% image block.value.image2 original as image %}
                                    <img src="{{ image.url }}" alt="" />
                                </span>
                                <div class="right-side-text">
                                    <h3> {{ block.value.sub_header2 }} </h3>
                                    <p> {{ block.value.text2 }} </p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}
                            <div class="button-section mt-25">
                                <a href="/contact-us" class="btn orange-btn">
                                    More About <i class="fa fa-arrow-right"></i>
                                    <span style="top: 174.5px; left: 104.141px;"></span>
                                </a>
                                <!--
                                <span class="video-play">
                                    <a href="https://www.youtube.com/watch?v=pZVdQLn_E5w" class="btn play-video orange-btn ml-20 popup-youtube">
                                        <i class="fa fa-play"></i>
                                        <span style="top: 174.5px; left: 104.141px;"></span>
                                    </a>
                                    Play Video
                                </span>
                            -->
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About-End -->
    <!-- Design-Start -->
    <div class="ful-section">
        <div class="row">
            <div class="col-md-4">
                <div class="top-section" style="background-image:url(/static/images/d-1.png);">
                    <div class="d-content">
                        {% with blocks=page.featured %}
                        {% for block in blocks %}
                        {% if block.block_type == 'carousel1' %}
                        <h1>01</h1>
                        <h4> {{ block.value.heading }} </h4>
                        <p class="mb-30"> {{ block.value.intro }} </p>
                        <a href="/contact-us" class="btn d-button">
                            Contact Us <i class="fa fa-arrow-right"></i>
                            <span style="top: 174.5px; left: 104.141px;"></span>
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-section" style="background-image:url(/static/images/d-2.png);">
                    <div class="d-content">
                        {% with blocks=page.featured %}
                        {% for block in blocks %}
                        {% if block.block_type == 'carousel2' %}
                        <h1>02</h1>
                        <h4> {{ block.value.heading }} </h4>
                        <p class="mb-30"> {{ block.value.intro }} </p>
                        <a href="/contact-us" class="btn d-button">
                            Contact Us <i class="fa fa-arrow-right"></i>
                            <span style="top: 174.5px; left: 104.141px;"></span>
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-section" style="background-image:url(/static/images/d-3.png);">
                    <div class="d-content">
                        {% with blocks=page.featured %}
                        {% for block in blocks %}
                        {% if block.block_type == 'carousel3' %}
                        <h1>03</h1>
                        <h4> {{ block.value.heading }} </h4>
                        <p class="mb-30"> {{ block.value.intro }} </p>
                        <a href="/contact-us" class="btn d-button">
                            Contact Us <i class="fa fa-arrow-right"></i>
                            <span style="top: 174.5px; left: 104.141px;"></span>
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Design-End -->
    <!-- Featuews-Start -->
    <div class="min-section pt-90 pb-90 cr-bg">
        <img src="{{ MEDIA_URL }}dev_images/right-cr-bg.png" alt="" class="po-img alltuchtopdown" />
        <div class="container">
            <div class="right-text ">
                <h4 class="upcase linetext pl-70">Featuews CarHubs</h4>
                <h2>
                    Features that you are CarHub
                </h2>
                <h5>Lorem ipsum dolor sit amet consectetur adipiscing</h5>

            </div>

            <div class="box-list mt-55">
                <div class="row">
                    <div class="col-md-2">
                        <div class="po-text alltuchtopdown">
                            <h3>
                                Best
                                CarHub
                                Feature
                            </h3>
                            <p>Lorem Ipsum, giving information on its origins.</p>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row"> <!--looping through featured block-->
                            {% for block in page.featured %}
                            {% if block.block_type == 'services' %}   
                            <div class="col-md-3">
                                <div class="img-box">
                                    {% image block.value.specific.header_image fill-350x525 as header_image %} 
                                    <img src="{{ header_image.url }}" alt="" />
                                    <a href="{{ block.value.specific.url }}" class="btn play-video d-button orange-btn ml-20 po-t-r">
                                        <i class="fa fa-arrow-right"></i>
                                        <span style="top: 174.5px; left: 104.141px;"></span>
                                    </a>
                                    {% with post=block.value.specific.body %}   <!--accessing the body block-->
                                    {% for block1 in post %}
                                    {% if block1.block_type == 'heading' %}
                                    <a href="{{ block.value.specific.url }}" class="f-name">{{ block1.value }}</a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featuews-End -->
    <!-- Consulting-Start -->
    <div class="Consulting pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-con before-ani">
                        {% display_index_images "engine" as index_image %}
                         {% if index_image %}   
                            {% image index_image.image scale-100 %}
                         {% endif %}
                        <div class="po-con alltuchtopdown">
                            <h3>We provide Solutions to grow Your business</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-50 pl-20 pr-30 pad-top-s">
                    <div class="right-text">
                        {% with blocks=page.featured %}
                        {% for block in blocks %}
                        {% if block.block_type == 'home2' %}

                        <h2>
                            {{ block.value.heading }}
                        </h2>

                        <div class="company-aim">
                            <div class="com-one">
                                <span class="left-side-icon tran-bg">
                                    {% image block.value.image1 original as image %}
                                    <img src="{{ image.url }}" alt="">
                                </span>
                                <div class="right-side-text b-text">
                                    <h3> {{ block.value.sub_header1 }} </h3>
                                    <p> {{ block.value.text1 }} </p>
                                </div>
                            </div>
                            <div class="com-one mt-20">
                                <span class="left-side-icon tran-bg">
                                    {% image block.value.image2 original as image %}
                                    <img src="{{ image.url }}" alt="">
                                </span>
                                <div class="right-side-text b-text">
                                    <h3> {{ block.value.sub_header2 }} </h3>
                                    <p> {{ block.value.text2 }} </p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}

                            <div class="button-section mt-25 ml-55">
                                <a href="/services" class="btn orange-btn">
                                    Discover Service <i class="fa fa-arrow-right"></i>
                                    <span style="top: 174.5px; left: 104.141px;"></span>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Consulting-End -->
    <!-- Why-Start -->
    <div class="why-choose">
        <div class="row">
            <div class="col-md-6 pt-90 pb-40 pl-70 pr-30">
                <div class="right-text ">
                    <h4 class="upcase linetext pl-70">Why Choose Us</h4>
                    {% with blocks=page.featured %}
                    {% for block in blocks %}
                    {% if block.block_type == 'home3' %}
                    <h2>
                        {{ block.value.heading }}
                    </h2>
                    <p> {{ block.value.intro }} </p>
                </div>
                <div class="min-s-list row pt-30">
                    <div class="col-md-4">
                        <div class="bg-sec-list mt-45">
                            <span class="l-img">
                                {% image block.value.image1 original as image %}
                                <img src="{{ image.url }}" alt="" />
                            </span>
                            <span class="text-w">1</span>
                            <h3> {{ block.value.sub_header1 }} </h3>
                            <p> {{ block.value.text1 }} </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-sec-list bg-blue">
                            <span class="l-img">
                                {% image block.value.image2 original as image %}
                                <img src="{{ image.url }}" alt="" />
                            </span>
                            <span class="text-w">2</span>
                            <h3> {{ block.value.sub_header2 }} </h3>
                            <p> {{ block.value.text2 }} </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-sec-list mt-45">
                            <span class="l-img">
                                {% image block.value.image3 original as image %}
                                <img src="{{ image.url }}" alt="" />
                            </span>
                            <span class="text-w">3</span>
                            <h3> {{ block.value.sub_header3 }} </h3>
                            <p> {{ block.value.text3 }} </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endwith %}

            </div>
            <div class="col-md-6 pd-0">
                <div class="full-img ">
                    {% display_index_images "right-side" as index_image %}
                    {% if index_image %}
                    {% image index_image.image fill-650x645 %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Why-End -->
    <!-- How It Work-Start -->
    <div class="howitwork pt-90 pb-60">
        <div class="container">
            {% with blocks=page.featured %}
            {% for block in blocks %}
            {% if block.block_type == 'home4' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-t">
                        <h2> {{ block.value.heading }} </h2>
                        <p>
                            {{ block.value.intro }}
                        </p>

                    </div>
                </div>
            </div>

            <div class="row pt-60">
                <div class="col-md-4">
                    <div class="how-sec">
                        <span class="before-line">
                            {% image block.value.image1 original as image %}
                            <img src="{{ image.url }}" alt="" />
                        </span>
                        <h4> {{ block.value.sub_header1 }} </h4>
                        <p> {{ block.value.text1 }} </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-sec">
                        <span class="before-line">
                            {% image block.value.image2 original as image %}
                            <img src="{{ image.url }}" alt="" />
                        </span>
                        <h4> {{ block.value.sub_header2 }} </h4>
                        <p> {{ block.value.text2 }} </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-sec no-be">
                        <span class="before-line">
                            {% image block.value.image3 original as image %}
                            <img src="{{ image.url }}" alt="" />
                        </span>
                        <h4> {{ block.value.sub_header3 }} </h4>
                        <p> {{ block.value.text3 }} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
    <!-- How It Work-End -->

    <!-- Blog-Start -->
    <div class="Blog-section pt-90 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-t">
                        <h2>From Our Blog</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing
                        </p>

                    </div>
                </div>
            </div>

            <div class="row pt-40">
                <!--looping throuh featured streamfield var-->
                {% for block in page.featured %} 
                <!--specifying the posts block-->
                {% if block.block_type == 'posts' %} 
                <div class="col-md-4 pl-30 pt-30 pb-30 pr-30">
                    <div class="blog-box">
                        <div class="blog-img"> <!--Display header_image from a specific page-->
                            {% image block.value.specific.header_image fill-350x220 as header_image %}                           
                            <a href="{{ block.value.specific.url }}"> 
                                <img src="{{ header_image.url }}" alt="" /> 
                            </a> 
                        </div>
                        <div class="blog-con">
                            <ul class="top-b">
                                {% with post=block.value.specific.body %}
                                {% for block1 in post %}
                                {% if block1.block_type == 'published_at' %}
                                <li> {{ block1.value }} </li>
                                {% endif %}
                                {% endfor %}
                                {% endwith %}

                                <li>Roadlink</li>
                            </ul>
                            <!--accessing the body var of the post page streamfield-->
                            {% with post=block.value.specific.body %}
                            {% for block1 in post %}
                            {% if block1.block_type == 'heading' %}
                            <h4><a href="{{ block.value.specific.url }}">{{ block1.value }}</a></h4>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog-End -->
    <!--<script>
        var leftArrowImgURL = "{% static 'images/left-arrow-small.png' %}";
        var rightArrowImgURL = "{% static 'images/right-arrow-small.png' %}";
    </script> -->
    
</div>

{% endblock %}