{% extends 'base.html' %}

<!-- Load the wagtailimages_tags: -->
{% load static wagtailimages_tags wagtailcore_tags %}
{% load blog_tags %}

{% block body_class %}template-shoppage{% endblock %}

{% block content %}

<div class="minsection">
    <!--sub-Banner-start-->
    <div class="sub-banner pt-80 pb-80">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>Services</h1>
                    <ul class="text-c">
                        <li>Roadlink</li>
                        <li>|</li>
                        <li class="color-t">Garage</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--sub-Banner-End-->
    <!--About-Start-->
    <div class="about pt-30 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-80 pr-40 pd-salf pd-top-s">
                    <div class="right-text">
                        <h4 class="upcase linetext pl-70">Roadlink Services</h4>
                        {% with blocks=page.displayed %}
                        {% for block in blocks %}
                        {% if block.block_type == 'firsts' %}
                        <h2>
                            {{ block.value.heading }}
                        </h2>
                        <div class="company-aim">
                            <p>
                                {{ block.value.text }}
                            </p>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}

                    </div>
                </div>

                <div class="col-md-6 col-md-6 pt-30 pl-150 pr-30">
                    <div class="images-ser-r before-ani after-ani pr-40">
                        {% with blocks=page.displayed %}
                        {% for block in blocks %}
                        {% if block.block_type == 'firsts' %}
                        {% image block.value.image1 original as image %}
                        <img src="{{ image.url }}" alt="" />
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                        <div class="min-bg-ser alltuchtopdown d-none-m">
                            <h2>
                                Call Us<br />
                                and Get the<br />
                                Best Services
                            </h2>
                            <a href="{{ page.contact }}" class="call-b"><i class="fa fa-phone"></i> {{ page.contact }} </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--About-End-->
    <!-- Blog-Start -->
    <div class="Blog-section pt-90 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-t">
                        <h2>From Our Blog</h2>
                        <p>
                            Have a deep look at some of our services.
                        </p>

                    </div>
                </div>
            </div>

            <div class="row pt-40">
                {% for post in posts %}
                <div class="col-md-4 pl-30 pt-30 pb-30 pr-30">
                    <div class="blog-box">
                        <div class="blog-img">
                            <a href="{% pageurl post %}">
                                {% image post.header_image fill-350x300 as image %}
                                <img src="{{ image.url }}" alt="" />
                            </a>
                        </div>
                        {% with blocks=post.body %}
                        {% for block in blocks %}
                        {% if block.block_type == 'body_class' %}
                        <div class="blog-con">
                            <ul class="top-b">
                                <li>Roadlink</li>
                            </ul>
                            <h4><a href="{% pageurl post %}">{{ block.value.heading }}</a></h4>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog-End -->
    <!--CarHub Consulting- Start-->
    <div class="about consulting-over pt-30 pb-30 pd-b-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-80 pr-40 pd-top-s">
                    <div class="right-text">
                        <h4 class="upcase linetext pl-70">Roadlink Services<h4>
                        {% with blocks=page.displayed %}
                        {% for block in blocks %}
                        {% if block.block_type == 'secs' %}
                        <h2>
                            {{ block.value.heading }}
                        </h2>
                        <p>
                            {{ block.value.intro }}
                        </p>

                        <div class="company-aim mt-15 mb-20">
                            <ul class="wi-50-ser">
                                <li>{{ block.value.text1 }}</li>
                                <li>{{ block.value.text2 }}</li>
                                <li>{{ block.value.text3 }}</li>
                                <li>{{ block.value.text4 }}</li>
                                <li>{{ block.value.text5 }}</li>
                                <li>{{ block.value.text6 }}</li>
                               
                            </ul>
                        </div>
                        <p> {{ block.value.outro }} </p>
                        
                        
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                </div>
                {% with blocks=page.displayed %}
                {% for block in blocks %}
                {% if block.block_type == 'secs' %}
                <div class="col-md-6 col-md-6 pt-30 pl-140 pr-15 pd-salf pd-top-new">
                    <div class="images-ser-r-two before-ani after-ani pr-0">
                        {% image block.value.image1 original as image %}
                        <img src="{{ image.url }}" alt="">                            
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    <!--CarHub Consulting- End-->
</div>


{% endblock %}