{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load static wagtailimages_tags wagtailcore_tags %}
{% load blog_tags %}

{% block body_class %}template-shoppage{% endblock %}

{% block content %}

<div class="minsection">
    <!--sub-Banner-start-->
    <div class="sub-banner pt-80 pb-80">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>Articles List</h1>
                    <ul class="text-c">
                        <li>Roadlink</li>
                        <li>|</li>
                        <li class="color-t">Garage</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--sub-Banner-End-->
    <!--Blog-heading-Start-->
    <div class="blog-list-one pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="right-text mb-30">
                        <h4 class="upcase linetext pl-70">Articles</h4>
                        <h2>
                            {{ page.description }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Looping through the posts context-->
                {% for post in posts %}
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Article</h4>
                            <!--Accessing the 'body' streamfield-->
                            {% for block in post.body %}
                            {% if block.block_type == 'heading' %}
                            <h3><a href="{% pageurl post %}">{{ block.value }}</a></h3>
                            {% elif block.block_type == 'paragraph1' %}
                            <p>{{ block.value|truncatechars:145 }}</p>
                            <span class="blog-cont-tr"></span>
                            {% endif %}
                            {% endfor %}
                            <!--End of streamfield-->
                        </div>
                        <!--Displaying the image-->
                        <div class="blog-img-one">
                            {% if post.header_image %}
                            {% image post.header_image original as header_image %}
                            <a href="{% pageurl post %}">
                                <img src="{{ header_image.url }}" alt="" loading="lazy" />
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Blog-heading-End-->
{% endblock %}