{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load static wagtailimages_tags wagtailcore_tags %}
{% load blog_tags %}

{% block body_class %}template-shoppage{% endblock %}

{% block content %}

<div class="minsection">
    <!--sub-Banner-start-->
    <div class="sub-banner pt-80 pb-80">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>Blog List</h1>
                    <ul class="text-c">
                        <li>Home</li>
                        <li>|</li>
                        <li class="color-t">Blog List</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--sub-Banner-End-->
    <!--Blog-heading-Start-->
    <div class="blog-list-one pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="right-text mb-30">
                        <h4 class="upcase linetext pl-70">Blogs Here</h4>
                        <h2>
                            Our Blogs
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">How To Get People To Like Industry</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b1.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">Here's What People Are Saying</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b2.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">The Shocking Revelation of Industry</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b3.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">Seven Outrageous Ideas Industry</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b4.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">Why Are Children So Obsessed</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b5.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">Find the Right Path for your Group Course online</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b6.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">Learn by doing with Real World Projects other</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b7.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-box-one">
                        <div class="blog-cont">
                            <h4>Articel</h4>
                            <h3><a href="blog-details.html">The Importance Of Intrinsic for Students</a></h3>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                            <span class="blog-cont-tr"></span>
                        </div>
                        <div class="blog-img-one">
                            <a href="blog-details.html">
                                <img src="images/b8.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Blog-heading-End-->

{% endblock %}