{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load static wagtailimages_tags wagtailcore_tags wagtailmetadata_tags %}
{% load blog_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock %}

{% block content %}


<div class="minsection">
    <!--sub-Banner-start-->
    <div class="sub-banner pt-80 pb-80">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>Blog Details</h1>
                    <ul class="text-c">
                        <li>Home</li>
                        <li>|</li>
                        <li class="color-t">Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--sub-Banner-End-->
    <!--Blog-Details-Start-->
    <div class="blog-details pt-90 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="min-bg-blog-details">
                        <div class="row mb-30">
                            <div class="col-md-10">
                                <div class="heading-blog-top">
                                    <span>
                                        Articel Details
                                    </span>
                                    {% for block in page.body %}
                                    {% if block.block_type == 'heading' %}
                                    <h3>
                                       {{ block.value }}
                                    </h3>
                                    {% elif block.block_type == 'paragraph1' %}
                                    <p>
                                        {{ block.value }}
                                    </p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="min-side-right">
                                    <div class="blog-date">
                                        {% for block in page.body %}
                                        {% if block.block_type == 'published_at' %}
                                        <span>
                                            {{ block.value }}
                                        </span>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="share-blog">
                                        <ul>
                                            <li>
                                                <a href="#" class="facebook share-b">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" class="Instagram share-b">Instagram</a>
                                            </li>
                                            <li>
                                                <a href="#" class="Twitter share-b">Twitter</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-md-12">
                                <div class="blog-d-one-img">
                                    {% image page.header_image fill-600x410 as header_image %}
                                    <img src="{{ header_image.url }}" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-md-6">
                                <div class="blog-d-i-con">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'quotation' %}
                                    <b><i>“{{ block.value }}“</i></b>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-d-p-con">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'mini_para' %}
                                    <p>
                                        {{ block.value }}
                                    </p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-md-12">
                                <div class="blog-d-one-img">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'image1' %}
                                    {% image block.value fill-950x400 as image1 %}
                                    <img src="{{ image1.url }}" alt="" />
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="blog-d-p-con">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'paragraphs' %}
                                    <p>
                                        {{ block.value }}
                                    </p>
                                    {% endif %}
                                    {% endfor %}

                              <!--     {# {% categories_list %} #}  categories disabled-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-4">
                    <div class="simler-blog">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="right-text mb-30">
                                    <h4 class="upcase linetext pl-70">Recent Blogs Here</h4>
                                    <h2>
                                        Similar Blogs
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-10">
                                <div class="blog-box-one blog-simler-right">
                                    {% if similar_posts %}
                                    <div class="blog-cont">
                                        <h4>Articel</h4>
                                        {% for post in similar_posts %}
                                        {% for block in post.body %}
                                        {% if block.block_type == 'heading' %}
                                        <h3><a href="{{ post.url }}">{{ block.value }}</a></h3>
                                        {% elif block.block_type == 'caption_display_text' %}
                                        <p>{{ block.value }}</p>
                                        <span class="blog-cont-tr-detail"></span>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                    {% for post in similar_posts %}
                                        {% for block in post.body %}
                                        {% if block.block_type == 'image1' %}
                                        {% image block.value fill-600x400 as image1 %}
                                    <div class="blog-img-one" data-image="{{ image1.url }}">
                                        <a href="blog-details.html">
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}

                                    {% else %}
                                    <p>
                                        No similar blogs yet
                                    </p>
                                    {% endif %}
                                </div>
                            <!--    <div style="margin-bottom: 20px;">
                              {#  {% tags_list %} #}
                                </div> -->
                            </div>
                            
                            <div class="col-md-12 mb-10">
                                <div class="view-all">
                                    <a href="/our-blog" class="btn upcase">
                                        View All Blogs <i class="fa fa-arrow-right"></i>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end blog-detail-->

{% endblock %}