{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load static wagtailimages_tags wagtailcore_tags %}
{% load blog_tags %}

{% block body_class %}template-shoppage{% endblock %}

{% block content %}


<div class="minsection">
    <!--sub-Banner-start-->
    <div class="sub-banner pt-80 pb-80">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>Blog Details</h1>
                    <ul class="text-c">
                        <li>Home</li>
                        <li>|</li>
                        <li class="color-t">Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--sub-Banner-End-->
    <!--Blog-Details-Start-->
    <div class="blog-details pt-90 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="min-bg-blog-details">
                        <div class="row mb-30">
                            <div class="col-md-10">
                                <div class="heading-blog-top">
                                    <span>
                                        Articel Details
                                    </span>
                                    {% for block in page.body %}
                                    {% if block.block_type == 'heading' %}
                                    <h3>
                                       {{ block.value }}
                                    </h3>
                                    {% elif block.block_type == 'paragraph1' %}
                                    <p>
                                        {{ block.value }}
                                    </p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="min-side-right">
                                    <div class="blog-date">
                                        {% for block in page.body %}
                                        {% if block.block_type == 'published_at' %}
                                        <span>
                                            {{ block.value }}
                                        </span>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="share-blog">
                                        <ul>
                                            <li>
                                                <a href="#" class="facebook share-b">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#" class="Instagram share-b">Instagram</a>
                                            </li>
                                            <li>
                                                <a href="#" class="Twitter share-b">Twitter</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-md-12">
                                <div class="blog-d-one-img">
                                    {% image page.header_image max-325x325 as header_image %}
                                    <img src="{{ header_image.url }}" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-md-6">
                                <div class="blog-d-i-con">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'quotation' %}
                                    <b><i>“{{ block.value }}“</i></b>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-d-p-con">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'mini_para' %}
                                    <p>
                                        {{ block.value }}
                                    </p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-md-12">
                                <div class="blog-d-one-img">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'image1' %}
                                    {% image block.value original as image1 %}
                                    <img src="{{ image1.url }}" alt="" />
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="blog-d-p-con">
                                    {% for block in page.body %}
                                    {% if block.block_type == 'paragraphs' %}
                                    <p>
                                        {{ block.value }}
                                    </p>
                                    {% endif %}
                                    {% endfor %}

                                    {% categories_list %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-4">
                    <div class="simler-blog">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="right-text mb-30">
                                    <h4 class="upcase linetext pl-70">Recent Blogs Here</h4>
                                    <h2>
                                        Similar Blogs
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-10">
                                <div class="blog-box-one blog-simler-right">
                                    {% if similar_posts %}
                                    <div class="blog-cont">
                                        <h4>Articel</h4>
                                        {% for post in similar_posts %}
                                        {% for block in post.body %}
                                        {% if block.block_type == 'heading' %}
                                        <h3><a href="{{ post.url }}">{{ block.value }}</a></h3>
                                        {% elif block.block_type == 'mini_para' %}
                                        <p>{{ block.value }}</p>
                                        <span class="blog-cont-tr-detail"></span>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="blog-img-one" data-image="images/b1.png">
                                        <a href="blog-details.html">
                                        </a>
                                    </div>
                                    {% else %}
                                    <p>
                                        No similar blogs yet
                                    </p>
                                    {% endif %}
                                </div>
                                <br>
                                {% tags_list %}
                            </div>
                            
                            <div class="col-md-12 mb-10">
                                <div class="view-all">
                                    <a href="/our-blog" class="btn upcase">
                                        View All Blogs <i class="fa fa-arrow-right"></i>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end blog-detail-->

     <!--Comment-Start-->
     <div class="Blog-section ourmvv pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="comment-re">
                        <h2>Comment</h2>
                        <div class="list-com">
                            <div class="comment-b-show">
                                <span class="img-user-co">
                                    <img src="images/author-thumb-3.jpg" alt="" />
                                </span>
                                <div class="comment-b">
                                    <button class="reply-com"><i class="fa fa-reply"></i></button>
                                    <h4>Alina Kelian</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                            <div class="comment-b-reply">
                                <span class="img-user-co">
                                    <img src="images/author-thumb-3.jpg" alt="" />
                                </span>
                                <div class="comment-b">
                                    <button class="reply-com"><i class="fa fa-reply"></i></button>
                                    <h4>Alina Kelian</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-com">
                            <div class="comment-b-re">
                                <span class="img-user-co">
                                    <img src="images/author-thumb-3.jpg" alt="" />
                                </span>
                                <div class="comment-b">
                                    <button class="reply-com"><i class="fa fa-reply"></i></button>
                                    <h4>Alina Kelian</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="view-all">
                            <a href="#" class="btn upcase">
                                View All Comments <i class="fa fa-arrow-right"></i>

                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="comment-re post-com">
                        <h2>Comment Post</h2>
                        <p>Your email address will not be published. Required fields are marked <span class="red">*</span></p>
                        <form method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Name" class="form-control form-com" />
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control form-com" />
                            </div>
                            <div class="form-group">
                                <input type="number" maxlength="10" placeholder="Mobile" class="form-control form-com" />
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Message" class="form-control form-com-message "></textarea>
                            </div>
                            <div class="view-all">
                                <button class="btn upcase">
                                    Post Comment <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Comment-End-->

{% endblock %}