<div class="heading-blog-top">
    <span>
        Articel Details
    </span>
    <h3>
        <!--article heading here-->
    </h3>
    <p>
        <!--paragraph here-->
    </p>
</div>
</div>
<div class="col-md-2">
<div class="min-side-right">
    <div class="blog-date">
        <span>
            24th
            March
            2019
        </span>
    </div>
    <div class="share-blog">
        <ul>
            <li>
                <a href="#" class="facebook share-b">Facebook</a>
            </li>
            <li>
                <a href="#" class="Instagram share-b">Instagram</a>
            </li>
            <li>
                <a href="#" class="Twitter share-b">Twitter</a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
<div class="row mb-25">
<div class="col-md-12">
<div class="blog-d-one-img">
    <img src="images/blog-details.png" alt="" />
</div>
</div>
</div>